@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sauce One';
  src: 
  url('./assets/fonts/OpenSauceOne-Regular.ttf') format('ttf'),
  url('./assets/fonts/OpenSauceOne-Medium.ttf') format('ttf'),
  url('./assets/fonts/OpenSauceOne-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sauce One';
  color: white;
  background-color: #28282F;
  height: 100%;
}

.inputStyle{
  @apply bg-[#525867] border-transparent outline-none py-1 px-2 text-base w-full placeholder:text-sm rounded-md
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #525867;
}

::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}



